@import url('https://fonts.googleapis.com/css?family=EB+Garamond');



html {
  font-size: 16px;
}


@media only screen and (max-width: 768px) {
html {
  font-size: 36px;
  }
}

body {
  overflow-x: hidden;
  padding: 0 0;
  margin: 0 0;
  font-weight: 400;
  width: 100%;
  letter-spacing: .1rem;
}


h1, h3 {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  font-family: 'EB Garamond', serif;
  letter-spacing: .15rem;
  font-weight: 400;
}

h2 {
  font-size: 1.4rem;
  padding: 0 0;
  margin: 0 0 2.5rem;
  font-family: 'EB Garamond', serif;
  letter-spacing: .1rem;
  font-weight: 400;
}

h3 {
  font-size: 3.2rem;
}


p, a, span {
  color: black;
  font-size: 1rem;
  font-family: serif;
  letter-spacing: 0;
}


a {
  letter-spacing: .1rem;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

section {
  width: 70%;
  margin: 0 auto 5rem;
}


section .main {
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin: 0 0;
  writing-mode: tb-rl;
  position: fixed;
}

.nav-left {
  left: 3%;
  top: 50%;
  width: 10px;
  height: 33.33%;
  margin-left: -5px;
  margin-top: -16.66%;

/*
  top: 16%;
  left: 5%;

*/

}

.nav-right {
  right: 3%;
  top: 50%;
  width: 10px;
  height: 50%;
  margin-right: -5px;
  margin-top: -10%;


/*
  top: 30%;
  right: 5%;
*/
}

.nav-left a, .nav-right a {
  margin: 2rem 0;
}



.story p, .stay p {
  line-height: 1.4rem;
}


@media only screen and (max-width: 1024px) {
  nav {
  visibility: hidden;
}

  .story p {
    line-height: 1.6rem;
  }
 }



.pictures-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;

}

.pictures img {
/*  min-width: 50%; */
  width: 50%;
/*  height: auto; */
}


@media only screen and (max-width: 1024px) {
  .pictures img {
    min-width: 100%;
  }
}

.one {
  min-width: 100%;
}


.col-outer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 0;
}

.col {
  background-color: #f6f6f6;
  padding: 2rem;
  min-height: 18rem;
  position: relative;
  width: 100%;
  margin: 0 auto 2rem;
  z-index: 25;
}

@media only screen and (min-width: 1200px) {
  .col {
    width: 25%;
    max-width: 100%;
    margin: 0 0;
    min-height: 24rem;
  }
}

@media only screen and (max-width: 768px) {
  .col {
    min-height: 16rem;
  }
}

.wedding-day h2 {
  border-bottom: 1px solid black;
  padding-bottom: .5rem;
}

.wedding-day a {
  position: absolute;
  bottom: 2.5rem;
  text-transform: uppercase;
  right: 2.5rem;
}


.austin {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  max-width: 100%;
}

.destination img {
  max-width: 100%;
  height: auto;


/*  top: -10rem; */
}

.austin h3 {
  position: absolute;
  top: 16rem;
  z-index: 25;
  max-width: 500px;
  margin-left: -230px;
  left: 50%;
}

.austin p {
  position: absolute;
  z-index: 25;
  top: 26rem;
  line-height: 2rem;
  text-align: center;
  max-width: 400px;
  margin-left: -200px;
  left: 50%;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .austin h3 {
    top: 8rem;
    font-size: 1.8rem;
    max-width: 400px;
    margin-left: -200px;
    left: 50%;
  }

  .austin p {
    visibility: hidden;
  }
}




/*
.wedding-day p, .austin p {
  font-size: 1.4rem;
} */



.stay .col {
  min-height: 0;
}

.stay h2 {
  margin-bottom: 1.6rem;
}

.stay p {
  margin-bottom: 0;
}

.eat {
  margin-top: -2rem;
}

.eat .col-outer {
  width: 100%;
}

.col-left, .col-right {
  z-index: 25;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;

}

.col-right {
  background-color: #f6f6f6;
}

.col-left {
  background-color: #e9e9e9;
}

.col-left h2, .col-left p, .col-right h2, .col-right p {
  padding: 0 3rem;
}

@media only screen and (min-width: 1024px) {
  .col-left, .col-right {
    margin: 0 0;
    width: 50%;
  }

  .eat .col {
    width: 50%;
    max-width: 100%;
    margin: 0 auto;
  }
}


.eat a {

  padding-bottom: 0;
  margin-bottom: -.7rem;
  font-family: 'EB Garamond', serif;
  letter-spacing: .1rem;
  font-weight: 400;
}

.eat h2 {
  padding-bottom: 0px;
  margin-bottom: -.7rem;
  padding-left: 2rem;
}

.peacock {
  font-size: 1.4rem;
}



.eat p {
  margin-bottom: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}


.registry-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 6rem 0 8rem;
  white-space: nowrap;
}

.registry a {
  text-align: center;
  text-transform: uppercase;
}

.registry .btn {
  margin: 1rem 3rem;

}

.lastpic img {
  max-width: 100%;
  height: auto;
}



hr {
  width: 70%;
}



.typeform {
  display: flex;
  justify-content: center;
}

.rsvp {
  margin: 8rem auto 10rem;
}

@media only screen and (max-width: 1024px) {
  .what-to-eat {
    padding-bottom: 5rem;
    margin-top: -3rem;
  }
  .what-to-do {
    margin-top: 2rem;
  }

  .registry .btn {
    padding: 0rem 10rem;
  }

  .registry-links {
    margin: 0 0;
  }

  .rsvp {
    margin: 3rem auto 6rem;
  }

  .austin {
    margin-top: -3rem;
  }


  /*
  .wedding-day p, .austin p {
    font-size: 1.1rem;
  } */

  .austin p {
    max-width: 400px;
  }

  .nav-left, .nav-right{
    width: 5%;
    padding: 0;
  }

  section {
    width: 70%;
  }

}
